.header {
  width: 100%;
  height: 73px;
  position: fixed;
  top: 0;
  z-index: 1000;

  &.active {
    background-color: white;
  }

  &__container {
    max-width: 120rem;
    padding: 10px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    width: 67px;
    height: 59px;
    border: 1px solid black;
    border-radius: 12px;
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 3.5rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 2.5rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: #373737a4;

    &:not(:last-of-type) {
      margin-right: 60px;
    }

    &::after {
      content: "";
      width: 0;
      transition: 0.3s ease-in-out;
    }

    &.selected {
      color: #373737;
      position: relative;
      &::after {
        width: 100%;
        height: 6px;
        background-color: #fca311;
        transform: rotate(-4deg);
        position: absolute;
        bottom: 3px;
        left: -4px;
        z-index: -1;
      }
    }

    &--btn {
      width: 290px;
    }
  }

  &__link {
    color: #373737a4;

    &--active {
      color: #373737;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 6px;
        background-color: #fca311;
        transform: rotate(-4deg);
        position: absolute;
        bottom: 3px;
        left: -4px;
        z-index: -1;
      }
    }
  }

  &__orange-dummy {
    position: absolute;
    left: 140px;
    bottom: -4px;
    z-index: -1;
  }
}
