.text-animation {
  font-family: "Quantico", sans-serif;
  color: #fca311;
  font-size: 4rem;
  margin-bottom: 33px;
  opacity: 0;
  animation-name: textAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px) skewY(2deg) skewX(2deg) rotateZ(5deg);
    filter: blur(5px);
  }
  25% {
    opacity: 1;
    transform: translateX(0) skewY(0) skewX(0) rotateZ(0);
    filter: blur(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0) skewY(0) skewX(0) rotateZ(0);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) skewY(2deg) skewX(2deg) rotateZ(-8deg);
    filter: blur(5px);
  }
}
