.my-services {
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
  position: relative;

  &__heading {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 90px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 40px;
      background-color: #373737;
    }
    &::before {
      margin-right: 4rem;
    }
    &::after {
      margin-left: 4rem;
    }
  }
  &__content {
    max-width: 120rem;
    padding: 14px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--heading {
      font-size: 3.9rem;
      font-weight: 700;
      margin-bottom: 35px;
    }
  }

  &__rectangle {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__ellipse {
    position: absolute;
    top: 90px;
    left: 0;
  }

  &__rectangle-brown {
    position: absolute;
    top: 90px;
    right: 0;
  }

  &__list {
    margin: 5px 0 15px;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.6rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &::before {
      content: "\2714";
      width: 18px;
      height: 18px;
      font-size: 1rem;
      background: #99cef5;
      color: white;
      border-radius: 50%;
      margin-right: 3rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__gif {
    justify-self: start;
  }
}
/* Rectangle 334 */

// position: absolute;
// left: -5.62%;
// right: 44.86%;
// top: 36.15%;
// bottom: 54.84%;

// background: rgba(153, 245, 190, 0.12);
// transform: rotate(16.67deg);
